src/main/resources/META-INF/birthmark-1.0.dtd

<!ATTLIST birthmark
  type  NAME  #REQUIRED
  count CDATA #REQUIRED
>

<!ATTLIST birthmark-similarity
  type             NAME  #REQUIRED
  comparison-count CDATA #REQUIRED
>

<!ELEMENT type                   (#PCDATA)>
<!ELEMENT unit                   (#PCDATA)>
<!ELEMENT birthmark-type         (#PCDATA)>
<!ELEMENT display-type           (#PCDATA)>
<!ELEMENT description            (#PCDATA)>
<!ELEMENT name                   (#PCDATA)>
<!ELEMENT location               (#PCDATA)>
<!ELEMENT element                (#PCDATA)>
<!ELEMENT birthmark-similarity   (#PCDATA)>
<!ELEMENT similarity             (#PCDATA)>

<!ELEMENT birthmark-service      (type,display-type,description?,class-name)>
<!ELEMENT birthmark-services     (birthmark-service*)>

<!ELEMENT birthmark              (element*)>
<!ELEMENT extracted-birthmark    (name,location,birthmark)>
<!ELEMENT birthmark-types        (birthmark-type+)>
<!ELEMENT extracted-birthmarks   (unit,birthmark-types,extracted-birthmark*)>

<!ELEMENT target1                (name,location)>
<!ELEMENT target2                (name,location)>
<!ELEMENT birthmark-similarities (birthmark-similarity*)>
<!ELEMENT comparison-result      (target1,target2,birthmark-similarities,similarity)>
<!ELEMENT comparison-result-set  (comparison-result*)>

<!ELEMENT birthmark-result-set   ((birthmark-services|extracted-birthmarks|comparison-result-set)+)>

